{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "ie >= 10"],
        "node": "current"
      },
      "debug": true,
      "modules": false
    }]
  ],
  "plugins": [
    ["transform-react-jsx"],
    ["syntax-dynamic-import"],
    ["transform-class-properties", {"spec": true}],
    ["transform-object-rest-spread", { "useBuiltIns": true }]
  ]
}
